
<div class = "subscribe_form">
    <p>Sign up for our newsletter to get latest updates</p>
    <form id = "subscribe" form method = 'POST'>{% csrf_token %}
    	<div class="input-group">
        <input id = "email_id" class="form-control" type = "email" name = "email_id" placeholder="your@email.com">
        <span class="input-group-btn">
        <button type="submit" class="btn btn-secondary" value = "Subscribe" id = "email_submit">Subscribe</button>
        </span>
        </div>
     </form>
</div>