
/* Global */

body {
  padding-top: 4rem;
  font-family: 'Roboto', sans-serif;
  color: #616161;
  /*background-color: #FAFAFA;*/
  /*background-image: url("https://s3.amazonaws.com/supaulone/public/cubes.png");*/
  height: 100%;
}

.navbar-brand{
	font-weight: 900;
	letter-spacing: 2px;
	color: #FF3300;
}

/* Header fonts */

.display-1 {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.2;
}

.display-2{
	font-size: 1.5rem;
	font-weight: 500;
}

/* Links */

a {
    color: #FF3300;
}

a:hover {
    color: #FF3300;
    text-decoration: none;
}

/* Footer */

.footer {
  background-color: #F5F5F5;
/*  position: absolute;*/
  bottom: 0;
  width: 100%;
  min-height: 200px;
  padding-top: 20px;
  padding-bottom: 20px;
}


.footercustom{
    padding-top: 50px;
}

.copyright{
  font-size: 14px;
  /*color: #fff;*/
  font-weight: 300;
}


/* Social media */

.fa-stack{
  color: #ff3300;
}

/* footer social icons */
.list-inline {
    padding-left: 0;
    margin-left: 0px;
}
