{% load staticfiles %}

<div class="footercustom">
<div class="footer">
  <div class="container">
    <footer>
      <div class="row">
        <div class="col-md-4">
          <address>
            <h5>Brand Name</h5><br>
            <div class="copyright">
            #47/5 M R Complex, Kudlu Main Road<br>
            Bangalore, Karnataka - 560068<br>
            <abbr title="Phone">P:</abbr> 080-4000000<br>
            <a href="mailto:#">hello@example.com</a>
          </div>
          </address>
        </div>
        <div class="col-md-4">
          <h5>Products and Services</h5>

        </div>
        <div class="col-md-4">
          <h5>We are Social</h5>
          <ul class="list-inline">
            <a href="#"><span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i></span>
            </a>
            <a href="#"><span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i></span>
            </a>
            <a href="#"><span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-google fa-stack-1x fa-inverse"></i></span>
            </a>
            <a href="#"><span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i></span>
            </a>
            <a href="#"><span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-github fa-stack-1x fa-inverse"></i></span>
            </a>
          </ul>
<!-- Begin MailChimp Signup Form -->
	{% include 'newsletter/subscribe.html' %}
<!--End mc_embed_signup-->

        </div>
      </div>
      <p class="copyright">&copy; 2017 Nescode Technologies Private Limited. All right reserved.</p>
    </footer>
  </div>
</div>
</div>
