{% load staticfiles %}
{% load flatpages %}

<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/">CMSCORN</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      {% get_flatpages as flatpages %}

      <ul class="navbar-nav mr-auto">

      {% for page in flatpages %}
        <li class="nav-item">
          <a class="nav-link" href="/pages{{ page.url }}">{{ page.title }}</a>
        </li>
      {% endfor %}
      
        <a class="nav-link" href="/blog/">Blog</a>
        <a class="nav-link" href="/contact/">Contact</a>
      </li>
      </ul>

    </div>
  </div>
</nav>
